---
layout: intern
tags: infos
navtitle: Mention légales
description: Mention legales
keywords: Frontend, SASS, CSS, HTML, Gulp, Design System, Pattern Library
date: 2019-01-04
permalink: legals.html
---

Generic
