<footer class="tkm-footer tkm-center--s" role="contentinfo">
	<div class="tkm-container">

	{% include 'components/partials/navigation_footer.njk' %}
	</div>
</footer>

<!-- TODO: needs improvement -->
