	<header class="tkm-header tkm-header--{{ layout }} tkm-header--{{ header }}">
	<div class="tkm-header__content tkm-container">
		<a href="/" title="zur Statseite" class="tkm-logo">{% include 'components/partials/logo.njk' %}</a>
	</div>
</header>
