<nav>
	<input type="checkbox" id="tkm-navigation__trigger" class="tkm-hidden tkm-trigger"/>
	<label for="tkm-navigation__trigger" class="h2 tkm-hidden--m-up tkm-trigger">☰</label>

	<div class="tkm-navigation">
		<ul class="tkm-navigation__list tkm-ui-list tkm-margin-bottom--0">
			{%- for nav in collections.nav -%}
				<li class="tkm-navigation__item"><a href="{{ nav.url }}" class="tkm-navigation__link{% if page.url == nav.url %} active {% endif %}">{{ nav.data.navtitle }}</a></li>
			{%- endfor -%}
		</ul>
	</div>
</nav>
