---
layout: base
nav: false
header : light
---

{% set itemlist = collections.home %}

{% include 'components/partials/slider.njk' %}

<main class="tkm-main is-primary">
	<div class="tkm-container">


		{{ content | safe }}

	</div>
</main>
<div class="main-dark">

	{% include 'components/show.njk' %}

</div>
<main class="tkm-wrapper tkm-main is-primary">

	{% include 'components/partials/contact.njk' %}

</main>
